.gameoverpage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.GameOverdiv{
    margin: 0px 30px;
    width: 500px;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.GameOverdiv h1{
    font-size: 45px;
}

.GameOverdiv p{
    font-size: 18px;
}
.scores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.points-score{
    display: flex;
    align-items: center;
}

.scores .snack-score img{
    height: 80px;
}

.scores .snack-score span, .points-score span{
    font-size: 40px;
    margin-left: 9px;
}
.points-score img{
    height: 60px;
}
.comment{
    font-size: 16px;
    margin-bottom: 15px;
}